Temp/UnityLockfile
*.apk
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
Temp/
Library/


Project/packages*
Project/Build*
Project/Assets/db*
Project/Assets/StreamingAssets*

Project/Assets/Scripts/Networking.meta
Project/Assets/Scripts/Networking/Controllers.meta
Project/Assets/Scripts/Networking/Models.meta
Project/Assets/Scripts/Networking/Services.meta
